/* @import */

#home {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    position: relative;
}
header img{
    padding-top: 16px;
    margin: 0 40%;
}
header .sprites > ul{
    display: block;
    position: absolute;
    right: 5%;
    top: 16px;
    max-width: 160px;
    z-index: 1;
}
header .sprites .bg-sprite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
header .bg-sprite li > a {
    width: 16px;
    height: 16px;
    padding: 0 12px;
}
header .bg-sprite li > a:hover {
    opacity: 0.5;
}

header .bg-sprite .bg-evernote {
    background: url('../img/sprites.png') -10px -10px;
}
header .bg-sprite .bg-twitter_bird {
    background: url('../img/sprites.png') -44px -10px;
}
header .bg-sprite .bg-pinterest {
    background: url('../img/sprites.png') -80px -10px;
}
header .bg-sprite .bg-linkedin {
    background: url('../img/sprites.png') -116px -10px;
}
header .bg-sprite .bg-facebook {
    background: url('../img/sprites.png') -152px -10px;
}
header .bg-sprite .bg-delicious {
    background: url('../img/sprites.png') -188px -10px;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #707070;
}

header .menu > li > a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #707070;
    line-height: 12px;
    padding: 6px 16px;
}
header .menu > li > a:hover{
    background: #076e9f;
    background: linear-gradient(to top, #0879a6, #066799);
    color:#fff;
    border: #045279;
}

section .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/main-img.png) no-repeat;
    border-top: 2px solid #22aaec;
    border-bottom: 2px solid #22aaec;
}
section .wrapper h1{
    margin-top: 121px;
    margin-bottom: 16px;
    padding: 12px 32px;
    font-family: 'League Gothic';
    font-size: 60px;
    color: #076e9f;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.795);
}
section .wrapper h3{
    margin-bottom: 68px;
    padding: 10px 14px;
    font-family: 'League Gothic';
    font-size: 30px;
    color: #076e9f;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.795);
}
section .wrapper span{
    color: #22aaec;
}

section .wrapper .foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(31, 29, 29, 0.644);
}

section .wrapper .foto .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeae9;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 188px;
    margin: 25px 40px;
    border-radius: 42px 0 0 42px;
}
.foto .card > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.foto .card .text{
    display: flex;
    flex-direction: column;
}
.card .text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-style: italic;
    color: #515151;
    padding: 11px 6px 6px 12px;
}
.card .text h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #828282;
    padding-left: 12px;
}
main{
    display: flex;
    flex-direction: row;
    padding:0 28px;
}

main article{
    width: 20%;
}
main article .block{
    border: 1px dashed #d5d5d5;
    padding-right: 16px;
    border-left: 0;
}

main article .block > h2{
    width: 100%;
    font-family: 'League Gothic';
    font-size: 22px;
    color: #076e9f;
    text-transform: uppercase;
}
main article .block.first {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #5c5c5c;
    padding-top: 35px;
    line-height: 20px;
    border-top: 0;
}
main article .block.first p {
    padding-top: 20px;
    padding-bottom: 16px;
}
main article .block.first span {
    color: #076e9f;
    font-weight: bold;
}
main article .block.second{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.block.second .common{
    margin-top: 18px;
    margin-bottom: 28px;
}
.block.second .block-post{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}
.block.second .block-post > img{
    padding-right: 18px;
}
.block.second .block-post .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #5c5c5c;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
}
.block-post .text > img{
    vertical-align: middle;
}
.block.second .block-post .text > span{
    font-style: italic;
}
main article .block.third {
    padding-top: 22px;
}
.block.third table{
    margin-top: 14px;
    background: #fff;
    text-align: center;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 46px;
    border-collapse: inherit;
}
.block.third table tr img{
    vertical-align: middle;
}
table tr > th{
    background-color: #076e9f;
    color: #fff;
    min-width: 40px;
    min-height: 19px;
}
table tr > td{
    min-width: 40px;
    min-height: 19px;
    background-color: #c7e9fa;
    color: #076e9f;
    
}
main section { 
    width: 80%;
    position: relative;
    border-bottom: 1px dashed #d5d5d5;
}
.main-block.top{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    position: absolute;
    top: -2%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px dashed #d5d5d5;
    border-right: 1px dashed #d5d5d5;
    border-top: 2px solid #22aaec;
}
.main-block.top h1{
    font-family: 'League Gothic';
    font-size: 32px;
    color: #076e9f;
    text-transform: uppercase;
    margin-top: 32px;
}
.main-block.top .text{
    display: flex;
    flex-direction: row;
     
    margin-top: 28px;
}
.main-block.top .text img{
    padding-right: 10px;
}
.main-block.top .text .nav{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #5c5c5c;
}
.main-block.top p{
    padding-left: 18px;
    padding-right: 38px;
    line-height: 17px;
}
.main-block.top .nav{
    padding-right: 10px;
}
.main-block.top .comments{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 18px;
    position: relative;
    margin-bottom: 18px;
}
.main-block.top button{
    background: linear-gradient(to top, #0881b0, #06598d);
    color: #fff;
    border: 1px solid #045279;
    border-bottom: 2px solid #00141e;
    padding: 8px 12px;
    box-shadow: 0 4px 0px 0px #d6d6d6, inset 0 2px 0px 0px #46a3c5;
}
.main-block.top .comments .img{
    align-content: flex-end;
    background-color: #90d4f5;
    border-top: #9fdaf6; 
    padding: 4px 14px;
    position: absolute;
    right: -5%;
    
}
.main-block.top .comments .img .triangle{
    display: block;
    position: absolute;
    right: 0%;
    z-index: 1;
    bottom: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: #076e9f transparent transparent transparent;
}
.main-block.top .comments .img > img{
    vertical-align: middle;
}

section .main-block.middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 230px;
    min-width: 787px;
}

.main-block.middle .block.left,
.main-block.middle .block.rigth{
    width: 47%;
    margin-left: 14px;
    padding-top: 26px;
    background-color: #eaeaea;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10% 0 0 0;
    position: relative;
}
.main-block.middle .block.left .text,
.main-block.middle .block.rigth .text{
    padding-left: 33px;
}


.main-block.middle .block.left h2,
.main-block.middle .block.rigth h2{
    font-family: 'League Gothic';
    font-size: 22px;
    color: #076e9f;
    text-transform: uppercase;
    line-height: 20px;
}

.main-block.middle .block.left h5{
    color: #878787;
    padding-bottom: 34px;
}
.main-block.middle .block.rigth h5{
    color: #878787;
    padding-bottom: 14px;
}

.main-block.middle .block.left span,
.main-block.middle .block.rigth span{
    color: #076e9f;
}

.main-block.middle .block.left p,
.main-block.middle .block.rigth p{
    color: #5c5c5c;
    font-family: Arial, Helvetica, sans-serif;
}
.main-block.middle .block.left a,
.main-block.middle .block.rigth a{
    color: #076e9f;
    text-decoration: none;
}
.main-block.middle .block.left .comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f4f3f3;
    margin-top: 28px;
    padding-right: 12px;
    line-height: 24px;
}
.main-block.middle .block.rigth .comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f4f3f3;
    margin-top: 12px;
    padding-right: 12px;
    line-height: 24px;
}
.main-block.middle .block.left .comments img,
.main-block.middle .block.rigth .comments img{
    padding: 4px 12px;
    vertical-align: middle;
}
/* #box {
    text-shadow: 0 1px 0 #fff;
   } */
   
.box:before,
.box:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 18px;
    width: 30%;
    top: 80%;
    max-width:100px;
    max-height: 32px;
    background: rgba(0, 0, 0, 0.7);
    /* -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); */
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg); */
    transform: rotate(-3deg);
}
   
.box:after {
    /* -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg); */
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

section .main-block.middle .block.bottom{
    width: 100%;
    text-align: center;
    background-color: #eae9e9;
    margin: 30px 14px;
    padding: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #636363;
}
nav h2{
    margin: 21px 0 17px 38px;
    font-family: 'League Gothic';
    font-size: 32px;
    text-transform: uppercase;
    color: #076e9f;
}
footer{
    position: relative;
}
footer .main-footer{
    margin: 16px 0 0 38px;
}

footer .main-footer img{
    position: absolute;
}
footer .main-footer .menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 17px;
    border-bottom: 1px dashed #d5d5d5;
}

footer .main-footer .menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: #707070;
    padding: 4px 14px;
}
footer .main-footer .menu a:hover{
    background: #076e9f;
    background: linear-gradient(to top, #0879a6, #066799);
    color:#fff;
    border: #045279;
}
footer .footer-text{
   text-align: center;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #787878;
   line-height: 34px;
}


